# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml





config/db.php
dbchat_backup_2025.sql
chat.sql
vendor.7z

# Folders
/vagrant
/vendor
/logs
/tests
/web/uploads/

