

.chats-index{
    font-family: "Poppins", sans-serif;

}
.consPointsNote{
    display: flex;
}
.chat-tarea{
    padding: 20px 30px 20px 30px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #EB6500;
    width: 100%;
   

}

.consPointsNote h1{
    font-size: 31px;
}

#divChat{
    background-color: #f9f9f9;
    color: #363636;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    border: 2px solid #EB6500;
}

#divChat::-webkit-scrollbar {
    display: none;
}

.emoji-wysiwyg-editor {
    border-radius: 10px !important ;
    font-weight: 400; 
    padding-left: 30px !important;
}
#btnEnviar{
   
        background-color: #2d2d2d;
        padding: 10px 30px 10px 30px;
        border-radius: 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        width: 70%;
        border: none;
    
}

#myDropzone{
    background-color: #EB6500;
    padding: 0px 30px 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    width: 30%;
    border: none;
    margin-top: 10px;
    height: 100px;
    min-height: 100px;
    margin-top: 0px !important;
}

.input-drop{
    display: flex;
    min-height: 100px;
    height: 100px;
    gap: 10px;
}

.texto-estado-animo{
    display: flex;
    justify-content: space-between;
}
.texto-estado-animo-p{
    width: 600px;
}
.btns-emociones{
    margin-top: 10px;
}

/*eventos*/

.evento{
    background-color: #ffbf5f;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 30px;
}
.event-id-status-link{
    display: flex;
    gap: 10px;
  
}
.evento img {
    width: 120px;
}
.evento h2{
    font-size: 18px;
    text-transform: uppercase;
}
.evento span{
    color: #2d2d2d;
    font-weight: 600;
}

.respuesta-pregunta{
    background-color: #38928D;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}

.debate-p{
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}

.respuesta-debate{
    background-color: #2d2d2d;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-valorar-debate , .btn-valorar, .btn-desactivar{
    background-color: #fff;
    color: #2d2d2d;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-left: 20px ;
}

.btn-valorar-debate:hover , .btn-valorar:hover, .btn-desactivar:hover{
    background-color: #EB6500;
    color: #fff;
}